body {
  background-color: #304A63;
  color: #9FA0A0;
  font-family: Times New Roman, Arial, sans-serif;
  margin: 7% 20%;
  padding-left: 15px; 
  padding-right: 15px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.exp-header {
  border-top: .5px solid;   
}
h1 {
  color: #766537; 
  text-transform: uppercase;
  font-size: 350%;
  margin-bottom: 0%;
}
h2 {
  color: #000000; 
  font-family: Brush Script MT, Times New Roman, sans-serif;
  font-size: 300%;
  margin-top: 0%;
}
p {
  font-size: 20%; 
}
h3 {
  text-transform: uppercase; 
  font-size: 110%;
}
h4 {
  font-size: 110%
}
h5 {
  font-size: 90%
}
.headshot img {
  margin: 0% 80%; 
  border: 2px solid black;
}
#head {
  margin-top: 30px; 
  float: right;
  margin: 0 0 0 15px;
  box-shadow: 2px 3px 10px; 
}
.rotateimg15 {
  transform: rotate(15deg);
}
